## About datasets

The datasets is sourced from various platforms and self scraping for some newer reviews for the airlines.

airline dataset source: https://github.com/quankiquanki/skytrax-reviews-dataset 

airline dataset 2 source: https://www.kaggle.com/efehandanisman/skytrax-airline-reviews

airline dataset 3 source: https://www.airlinequality.com/review-pages/a-z-airline-reviews/

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import re
import glob
import os

In [2]:
# Read in both csv files
airline = pd.read_csv('data/airline.csv',parse_dates=['date'])
airline2 = pd.read_csv('data/capstone_airline_review.csv',parse_dates=['review_date'])

## Step 1: Airline dataset 2 

Airline dataset 2 has single spacing in between each reviews, the space needs to be removed. In addition under the customer review there are some special characters hence we will only keep the reviews. Lastly, the columns also needs to be rearranged before we concatenate it with other datasets.

In [3]:
airline2.head()

,airline,overall,author,review_date,customer_review,aircraft,traveller_type,cabin,route,date_flown,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended
0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Turkish Airlines,7.0,Christopher Hackley,2019-05-08,âœ… Trip Verified | London to Izmir via Istanb...,NaN,Business,Economy Class,London to Izmir via Istanbul,2019-05-01 00:00:00,4.0,5.0,4.0,4.0,2.0,4.0,yes
2,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Turkish Airlines,2.0,Adriana Pisoi,2019-05-07,âœ… Trip Verified | Istanbul to Bucharest. We ...,NaN,Family Leisure,Economy Class,Istanbul to Bucharest,2019-05-01 00:00:00,4.0,1.0,1.0,1.0,1.0,1.0,no
4,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Drop the spacing row
airline2.dropna(axis = 0, how = 'all', inplace = True)

In [5]:
# reset index column
airline2.reset_index(inplace=True,drop=True)

In [6]:
# info
airline2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65947 entries, 0 to 65946
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          65947 non-null  object
 1   overall          64017 non-null  float64
 2   author           65947 non-null  object
 3   review_date      65947 non-null  datetime64[ns]
 4   customer_review  65947 non-null  object
 5   aircraft         19718 non-null  object
 6   traveller_type   39755 non-null  object
 7   cabin            63303 non-null  object
 8   route            39726 non-null  object
 9   date_flown       39633 non-null  object
 10  seat_comfort     60681 non-null  float64
 11  cabin_service    60715 non-null  float64
 12  food_bev         52608 non-null  float64
 13  entertainment    44193 non-null  float64
 14  ground_service   39358 non-null  float64
 15  value_for_money  63975 non-null  float64
 16  recommended      64440 non-null  object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 8.6+ MB

In [7]:
# Rearrange columns
airline2= airline2[['airline','author','review_date','customer_review', 'traveller_type', 'cabin','overall','seat_comfort','cabin_service', 'food_bev','entertainment', 'ground_service','value_for_money', 'recommended']]

In [8]:
# Remove special characters and "Trip Verified"
airline2['customer_review'] = airline2.loc[:,'customer_review'].map(lambda exp:exp.split('| ')[1] if "Trip Verified" in exp else exp)

In [9]:
# Sanity Check for review
airline2['customer_review'][1]

'Istanbul to Bucharest. We make our check in in the airport, they Take our luggage , we go to the gate and at the gate surprise they dont let uÈ™ board with two children, because they say the flight is overbooked. We had to wait in the airport with two children until 5 oclock in the morning until they bring uÈ™ to a hotel 2 hours far away from the airport without luggage, without eat without nothing. Our first and last flight with this airline.'

In [10]:
# Change all words to lower caps
airline2[['airline', 'author', 'customer_review', 'traveller_type', 'cabin',
       'recommended']] = airline2[['airline', 'author', 'customer_review', 'traveller_type', 'cabin',
       'recommended']].apply(lambda x: x.str.lower())

In [11]:
# Change recommended columns to binary (yes=1,No=0)
airline2['recommended'] = airline2['recommended'].map({'yes':1,'no':0})

In [12]:
# Rename columns
airline2.columns = ['airline_name', 'author', 'date', 'content','type_traveller', 'cabin_flown', 'overall_rating',
       'seat_comfort_rating', 'cabin_staff_rating', 'food_beverages_rating','inflight_entertainment_rating', 'ground_service_rating',
       'value_money_rating', 'recommended']

In [13]:
# airline dataset 2 null values
airline2.isnull().sum()

airline_name                         0
author                               0
date                                 0
content                              0
type_traveller                   26192
cabin_flown                       2644
overall_rating                    1930
seat_comfort_rating               5266
cabin_staff_rating                5232
food_beverages_rating            13339
inflight_entertainment_rating    21754
ground_service_rating            26589
value_money_rating                1972
recommended                       1507
dtype: int64

In [14]:
# check airline2 shape
airline2.shape

(65947, 14)

In [15]:
# sanity check
airline2.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,turkish airlines,christopher hackley,2019-05-08,london to izmir via istanbul. first time iâ€™d...,business,economy class,7.0,4.0,5.0,4.0,4.0,2.0,4.0,1.0
1,turkish airlines,adriana pisoi,2019-05-07,istanbul to bucharest. we make our check in in...,family leisure,economy class,2.0,4.0,1.0,1.0,1.0,1.0,1.0,0.0
2,turkish airlines,m galerko,2019-05-07,rome to prishtina via istanbul. i flew with th...,business,economy class,3.0,1.0,4.0,1.0,3.0,1.0,2.0,0.0
3,turkish airlines,zeshan shah,2019-05-06,flew on turkish airlines iad-ist-khi and retur...,solo leisure,economy class,10.0,4.0,5.0,5.0,5.0,5.0,5.0,1.0
4,turkish airlines,pooja jain,2019-05-06,mumbai to dublin via istanbul. never book turk...,solo leisure,economy class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

## Step 2: Airline Dataset 1

In order to concatenate these datasets together, we will rearrange the columns in each dataframe

In [16]:
# Rearrange columns
airline = airline[['airline_name', 'author', 'date','content', 'type_traveller', 'cabin_flown','overall_rating', 'seat_comfort_rating', 'cabin_staff_rating','food_beverages_rating', 'inflight_entertainment_rating','ground_service_rating','value_money_rating', 'recommended']]

In [17]:
airline.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria-airways,D Ito,2015-04-10,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,Economy,7.0,4.0,4.0,4.0,0.0,NaN,4.0,1
1,adria-airways,Ron Kuhlmann,2015-01-05,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,Business Class,10.0,4.0,5.0,4.0,1.0,NaN,5.0,1
2,adria-airways,E Albin,2014-09-14,Flew Zurich-Ljubljana on JP365 newish CRJ900. ...,NaN,Economy,9.0,5.0,5.0,4.0,0.0,NaN,5.0,1
3,adria-airways,Tercon Bojan,2014-09-06,Adria serves this 100 min flight from Ljubljan...,NaN,Business Class,8.0,4.0,4.0,3.0,1.0,NaN,4.0,1
4,adria-airways,L James,2014-06-16,WAW-SKJ Economy. No free snacks or drinks on t...,NaN,Economy,4.0,4.0,2.0,1.0,2.0,NaN,2.0,0

In [18]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41396 entries, 0 to 41395
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airline_name                   41396 non-null  object
 1   author                         41396 non-null  object
 2   date                           41396 non-null  datetime64[ns]
 3   content                        41396 non-null  object
 4   type_traveller                 2378 non-null   object
 5   cabin_flown                    38520 non-null  object
 6   overall_rating                 36861 non-null  float64
 7   seat_comfort_rating            33706 non-null  float64
 8   cabin_staff_rating             33708 non-null  float64
 9   food_beverages_rating          33264 non-null  float64
 10  inflight_entertainment_rating  31114 non-null  float64
 11  ground_service_rating          2203 non-null   float64
 12  value_money_rating             39723 non-null  float64
 13  recommended                    41396 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 4.4+ MB

In [19]:
# Check columns
airline.columns

Index(['airline_name', 'author', 'date', 'content', 'type_traveller',
       'cabin_flown', 'overall_rating', 'seat_comfort_rating',
       'cabin_staff_rating', 'food_beverages_rating',
       'inflight_entertainment_rating', 'ground_service_rating',
       'value_money_rating', 'recommended'],
      dtype='object')

In [20]:
# Check shape
airline.shape

(41396, 14)

In [21]:
# Change recommended column to float
airline['recommended'] = airline['recommended'].astype(float)

In [22]:
# change all words to lower caps
airline[['airline_name', 'author', 'content', 'type_traveller', 'cabin_flown']] = airline[['airline_name', 'author', 'content', 'type_traveller', 'cabin_flown']].apply(lambda x: x.str.lower())

In [23]:
# Remove dash from airline name
airline['airline_name'] = airline['airline_name'].str.replace('-', ' ')

In [24]:
# sanity check
airline.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria airways,d ito,2015-04-10,outbound flight fra/prn a319. 2 hours 10 min f...,NaN,economy,7.0,4.0,4.0,4.0,0.0,NaN,4.0,1.0
1,adria airways,ron kuhlmann,2015-01-05,two short hops zrh-lju and lju-vie. very fast ...,NaN,business class,10.0,4.0,5.0,4.0,1.0,NaN,5.0,1.0
2,adria airways,e albin,2014-09-14,flew zurich-ljubljana on jp365 newish crj900. ...,NaN,economy,9.0,5.0,5.0,4.0,0.0,NaN,5.0,1.0
3,adria airways,tercon bojan,2014-09-06,adria serves this 100 min flight from ljubljan...,NaN,business class,8.0,4.0,4.0,3.0,1.0,NaN,4.0,1.0
4,adria airways,l james,2014-06-16,waw-skj economy. no free snacks or drinks on t...,NaN,economy,4.0,4.0,2.0,1.0,2.0,NaN,2.0,0.0

## Step 3: Concatenate Airline 1 and Airline 2

Here, we will concatenate both airline 1 and airline 2 datasets and drop any duplicates contains in the dataset

In [25]:
# concatenate and name it airline_merged
airline_merged = pd.concat([airline,airline2],axis=0,join='outer')

In [26]:
# Reset index
airline_merged.reset_index(level=0, inplace=True,drop=True)

In [27]:
# check duplicates
airline_merged.duplicated(subset=['content']).sum()

27320

In [28]:
# Drop duplicates and reset index
airline_merged.drop_duplicates(subset=['content'],inplace=True)
airline_merged.reset_index(level=0, inplace=True,drop=True)

In [29]:
# Check final info
airline_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80023 entries, 0 to 80022
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airline_name                   80023 non-null  object
 1   author                         80023 non-null  object
 2   date                           80023 non-null  datetime64[ns]
 3   content                        80023 non-null  object
 4   type_traveller                 38763 non-null  object
 5   cabin_flown                    75697 non-null  object
 6   overall_rating                 75361 non-null  float64
 7   seat_comfort_rating            69810 non-null  float64
 8   cabin_staff_rating             69750 non-null  float64
 9   food_beverages_rating          62621 non-null  float64
 10  inflight_entertainment_rating  54575 non-null  float64
 11  ground_service_rating          38260 non-null  float64
 12  value_money_rating             76906 non-null  float64
 13  recommended                    78601 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 8.5+ MB

In [30]:
airline_merged.columns

Index(['airline_name', 'author', 'date', 'content', 'type_traveller',
       'cabin_flown', 'overall_rating', 'seat_comfort_rating',
       'cabin_staff_rating', 'food_beverages_rating',
       'inflight_entertainment_rating', 'ground_service_rating',
       'value_money_rating', 'recommended'],
      dtype='object')

In [31]:
airline_merged.shape

(80023, 14)

In [32]:
# Correct name of airline acccording to the skytrax official name
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('thomas cook belgium airlines customer','thomas cook airlines belgium')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('ukraine international airlines','ukraine international')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('tarom romanian airlines','tarom romanian')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('taca','taca airlines')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('swiss international air lines','swiss intl air lines')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('star per','star peru')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('spring','spring airlines')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('sky express airlines','sky airline')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('sas scandinavian airlines','sas scandinavian')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('precision','precision air')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('indigo airlines','indigo')
airline_merged['airline_name'] = airline_merged['airline_name'].str.replace('hong kong airlines','hong kong')

In [33]:
airline_merged.to_csv('Data/airline merged.csv',index=False)

In [34]:
# Sanity Check
airline_merged.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria airways,d ito,2015-04-10,outbound flight fra/prn a319. 2 hours 10 min f...,NaN,economy,7.0,4.0,4.0,4.0,0.0,NaN,4.0,1.0
1,adria airways,ron kuhlmann,2015-01-05,two short hops zrh-lju and lju-vie. very fast ...,NaN,business class,10.0,4.0,5.0,4.0,1.0,NaN,5.0,1.0
2,adria airways,e albin,2014-09-14,flew zurich-ljubljana on jp365 newish crj900. ...,NaN,economy,9.0,5.0,5.0,4.0,0.0,NaN,5.0,1.0
3,adria airways,tercon bojan,2014-09-06,adria serves this 100 min flight from ljubljan...,NaN,business class,8.0,4.0,4.0,3.0,1.0,NaN,4.0,1.0
4,adria airways,l james,2014-06-16,waw-skj economy. no free snacks or drinks on t...,NaN,economy,4.0,4.0,2.0,1.0,2.0,NaN,2.0,0.0

## Step 4:  Scraped data

In [35]:
# Read all scraped csv into dataframe and concat them together

#path = r'C:\Users\gchoo\Desktop\General Assembly\DSI project\Capstone\Webscraping\Data'
#all_files = glob.glob(os.path.join(path, "*.csv"))

#df_each_file = (pd.read_csv(f) for f in all_files)
#concat_df = pd.concat(df_each_file, ignore_index=True)
#concat_df.to_csv('Data/scraped_airline.csv',index=False)

In [36]:
# Read in the scraped airlines data as airline 3
airline3 = pd.read_csv('Data/scraped_airline.csv',parse_dates=['date'])

In [37]:
airline3.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria airways,D Praetextatus,2019-09-28,Not Verified | Please do a favor yourself and...,Solo Leisure,Economy Class,1.0,1.0,1.0,NaN,NaN,1.0,1.0,no
1,adria airways,D Meijer,2019-09-24,✅ Trip Verified | Do not book a flight with th...,Couple Leisure,Economy Class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
2,adria airways,Herbse Mayer,2019-09-17,✅ Trip Verified | Had very bad experience wit...,Couple Leisure,Economy Class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
3,adria airways,D Bole,2019-09-06,"Not Verified | Ljubljana to Zürich. Firstly, ...",Business,Economy Class,1.0,1.0,1.0,1.0,NaN,1.0,1.0,no
4,adria airways,B Cosmin,2019-08-24,"Not Verified | First of all, I am not complai...",Solo Leisure,Economy Class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [38]:
airline3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airline_name                   1350 non-null   object
 1   author                         1350 non-null   object
 2   date                           1350 non-null   datetime64[ns]
 3   content                        1350 non-null   object
 4   type_traveller                 1252 non-null   object
 5   cabin_flown                    1349 non-null   object
 6   overall_rating                 1336 non-null   float64
 7   seat_comfort_rating            1187 non-null   float64
 8   cabin_staff_rating             1187 non-null   float64
 9   food_beverages_rating          927 non-null    float64
 10  inflight_entertainment_rating  648 non-null    float64
 11  ground_service_rating          1190 non-null   float64
 12  value_money_rating             1347 non-null   float64
 13  recommended                    1350 non-null   object
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 147.8+ KB

In [39]:
airline3.shape

(1350, 14)

In [40]:
airline3.isnull().sum()

airline_name                       0
author                             0
date                               0
content                            0
type_traveller                    98
cabin_flown                        1
overall_rating                    14
seat_comfort_rating              163
cabin_staff_rating               163
food_beverages_rating            423
inflight_entertainment_rating    702
ground_service_rating            160
value_money_rating                 3
recommended                        0
dtype: int64

In [41]:
# Change all words to lower caps
airline3[['airline_name', 'author', 'content', 'type_traveller', 'cabin_flown','recommended']] = airline3[['airline_name', 'author', 'content', 'type_traveller', 'cabin_flown','recommended']].apply(lambda x: x.str.lower())

In [42]:
# Change recommended columns to binary (yes=1,No=0)
airline3['recommended'] = airline3['recommended'].map({'yes':1,'no':0})

In [43]:
# Change recommended column to float
airline3['recommended'] = airline3['recommended'].astype(float)

In [44]:
# Remove special characters and "Trip Verified"
airline3['content'] = airline3['content'].map(lambda exp:exp.split('|')[1] if 'trip verified' in exp else exp)

In [45]:
# Remove special characters and "not Verified"
airline3['content'] = airline3['content'].map(lambda exp:exp.split('|')[1] if 'not verified' in exp else exp)

In [46]:
# sanity check
airline3.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria airways,d praetextatus,2019-09-28,please do a favor yourself and do not fly wi...,solo leisure,economy class,1.0,1.0,1.0,NaN,NaN,1.0,1.0,0.0
1,adria airways,d meijer,2019-09-24,do not book a flight with this airline! my fr...,couple leisure,economy class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,adria airways,herbse mayer,2019-09-17,had very bad experience with rerouted and ca...,couple leisure,economy class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,adria airways,d bole,2019-09-06,"ljubljana to zürich. firstly, ljubljana airp...",business,economy class,1.0,1.0,1.0,1.0,NaN,1.0,1.0,0.0
4,adria airways,b cosmin,2019-08-24,"first of all, i am not complaining about a s...",solo leisure,economy class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

## Final Merge

In [47]:
# concatenate and name it airline_final
airline_final = pd.concat([airline_merged,airline3],axis=0,join='outer')

# Reset index
airline_final.reset_index(level=0, inplace=True,drop=True)

airline_final.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,adria airways,d ito,2015-04-10,outbound flight fra/prn a319. 2 hours 10 min f...,NaN,economy,7.0,4.0,4.0,4.0,0.0,NaN,4.0,1.0
1,adria airways,ron kuhlmann,2015-01-05,two short hops zrh-lju and lju-vie. very fast ...,NaN,business class,10.0,4.0,5.0,4.0,1.0,NaN,5.0,1.0
2,adria airways,e albin,2014-09-14,flew zurich-ljubljana on jp365 newish crj900. ...,NaN,economy,9.0,5.0,5.0,4.0,0.0,NaN,5.0,1.0
3,adria airways,tercon bojan,2014-09-06,adria serves this 100 min flight from ljubljan...,NaN,business class,8.0,4.0,4.0,3.0,1.0,NaN,4.0,1.0
4,adria airways,l james,2014-06-16,waw-skj economy. no free snacks or drinks on t...,NaN,economy,4.0,4.0,2.0,1.0,2.0,NaN,2.0,0.0

In [48]:
airline_final.shape

(81373, 14)

In [49]:
# check duplicates
airline_final.duplicated(subset=['content']).sum()

105

In [50]:
# Drop duplicates and reset index
airline_final.drop_duplicates(subset=['content'],inplace=True)
airline_final.reset_index(level=0, inplace=True,drop=True)

In [53]:
# Final shape
airline_final.shape

(81268, 14)

## Imputation Null Values