In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [9]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/pia-pakistan-international-airlines/?sortby=post_date%3ADesc&pagesize=100'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    try:
        review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
        review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
        review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
        review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
    
    except:
        review_dict['Overall_rating'] = np.nan
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    # Overall Rating
    try:
        review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    
    except:
        review_dict['Overall_rating'] = np.nan
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'pakistan intl airlines'

# Save to CSV
df.to_csv('Data/pakistan.csv',index=False)

In [10]:
# Sanity check
df.tail(8)

,Value For Money,Ground Service,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,text_content,Recommended,traveller_type,seat_type,Overall_rating,Wifi & Connectivity,Inflight Entertainment,airline
92,5,NaN,4,5,5,M Aftab,2014-01-13,PK788 from London-Heathrow (LHR) to Karachi (K...,yes,NaN,Economy Class,NaN,NaN,4,pakistan intl airlines
93,5,NaN,4,5,4,Yazdani Usman,2013-12-20,Travelled from Peshawar to Karachi and back. T...,yes,NaN,Economy Class,NaN,NaN,3,pakistan intl airlines
94,5,NaN,5,5,5,Muzzy Ali,2013-12-12,Went on fairly new B777-300er plane straight f...,yes,NaN,Economy Class,NaN,NaN,5,pakistan intl airlines
95,3,NaN,4,5,4,Huzayfah Alam,2013-12-11,We were flying from Lahore Punjab Pakistan to ...,yes,NaN,Economy Class,NaN,NaN,3,pakistan intl airlines
96,4,NaN,5,5,4,R Edward,2013-12-10,Travelled PIA for the first time (LHR-ISB PK78...,yes,NaN,Economy Class,NaN,NaN,3,pakistan intl airlines
97,2,NaN,1,4,3,R Iqbal,2013-12-09,London Heathrow to Lahore Pakistan PK758 2 Nov...,no,NaN,Economy Class,NaN,NaN,1,pakistan intl airlines
98,3,NaN,5,5,4,Altaf Ayesha,2013-12-04,Been using PIA for several years. Mainly becau...,no,NaN,Economy Class,NaN,NaN,3,pakistan intl airlines
99,3,NaN,5,5,4,Mohammad Asif,2013-10-20,Flew from Multan-Jeddah on PK-731. Basically i...,yes,NaN,Premium Economy,NaN,NaN,2,pakistan intl airlines

In [11]:
df.head()

,Value For Money,Ground Service,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,text_content,Recommended,traveller_type,seat_type,Overall_rating,Wifi & Connectivity,Inflight Entertainment,airline
0,1,1,1,1,1,A Sarqir,2020-06-04,✅ Trip Verified | I will never use this airli...,no,Family Leisure,Economy Class,1,NaN,NaN,pakistan intl airlines
1,1,NaN,NaN,NaN,NaN,L Malban,2020-03-27,✅ Trip Verified | Birmingham to Islamabad. I ...,no,Solo Leisure,Economy Class,1,NaN,NaN,pakistan intl airlines
2,2,3,3,3,2,A Khan,2020-03-14,✅ Trip Verified | Flew executive economy from...,no,Solo Leisure,Premium Economy,3,1,1,pakistan intl airlines
3,1,1,3,1,1,J Khan,2020-02-24,Not Verified | Manchester to Lahore. I went w...,no,Family Leisure,Economy Class,1,NaN,NaN,pakistan intl airlines
4,1,1,3,5,3,Niknam Hussain,2020-02-08,✅ Trip Verified | Birmingham to Islamabad. Tr...,no,Family Leisure,Premium Economy,3,NaN,NaN,pakistan intl airlines