In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/privilege-style/?sortby=post_date%3ADesc&pagesize=20'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'privilege style'

# Save to CSV
df.to_csv('Data/privilege_style.csv',index=False)

In [3]:
# Sanity check
df.tail()

,Value For Money,Ground Service,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,Inflight Entertainment,airline
8,1,1,1,3,1,Fernando Marco Liguori,2018-11-26,1,✅ Trip Verified | Rome to Newark. This is the...,no,Solo Leisure,Economy Class,1,1,privilege style
9,1,1,3,3,1,P Lesuno,2018-09-19,2,✅ Trip Verified | Norwegian notified us that ...,no,Couple Leisure,Premium Economy,NaN,1,privilege style
10,1,2,2,1,1,Laura Rooney,2018-09-05,2,Not Verified | Very disappointed in this Norw...,no,Solo Leisure,Economy Class,2,1,privilege style
11,3,5,2,5,2,Silvia Tisi,2018-02-10,7,✅ Trip Verified | Flew Zanzibar to Milan with ...,yes,Couple Leisure,Economy Class,NaN,1,privilege style
12,5,1,5,5,3,S Gressen,2017-02-16,9,✅ Verified Review | Montego Bay to Munich wit...,yes,Couple Leisure,Economy Class,NaN,NaN,privilege style

In [4]:
df.head()

,Value For Money,Ground Service,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,Inflight Entertainment,airline
0,5,3,3,3,3,Ndulue Yauri,2020-01-28,5,✅ Trip Verified | Vienna to Lagos. The flight...,no,Solo Leisure,Economy Class,NaN,NaN,privilege style
1,5,3,3,3,3,Abdal Ghafar,2020-01-25,5,✅ Trip Verified | Munich to Kabul. Privilege ...,no,Solo Leisure,Economy Class,3,3,privilege style
2,5,5,5,5,5,Robert Dullighan,2019-09-29,10,Not Verified | CAA replacement for Thomas Coo...,yes,Family Leisure,Economy Class,NaN,NaN,privilege style
3,3,3,1,4,3,B Carson,2019-08-17,6,✅ Trip Verified | Manchester to Tenerife. On ...,yes,Family Leisure,Economy Class,NaN,NaN,privilege style
4,5,4,5,5,4,Nicole Gunning,2019-07-30,9,Not Verified | Manchester to Lanzorote. We bo...,yes,Family Leisure,Economy Class,NaN,NaN,privilege style