In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/swoop/?sortby=post_date%3ADesc&pagesize=100'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'swoop'

# Save to CSV
df.to_csv('Data/swoop.csv',index=False)

In [3]:
# Sanity check
df.tail()

,Value For Money,Ground Service,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,Cabin Staff Service,Seat Comfort,Inflight Entertainment,Food & Beverages,airline
95,1,1,J Loftus,2019-12-23,1,✅ Trip Verified | Hamilton to Orlando. I’m wr...,no,Family Leisure,Economy Class,NaN,1,1,NaN,NaN,swoop
96,2,4,Tannis Coleman,2019-12-23,2,✅ Trip Verified | Winnipeg to Hamilton. Fligh...,no,Solo Leisure,Economy Class,NaN,3,2,NaN,NaN,swoop
97,1,1,R Lee,2019-12-22,1,Not Verified | Hamilton to Fort Lauderdale. Tr...,no,Family Leisure,Economy Class,NaN,1,1,1,NaN,swoop
98,5,4,S Baird,2019-12-21,8,✅ Trip Verified | Kelowna to Las Vegas. I was...,yes,Solo Leisure,Economy Class,NaN,4,4,NaN,NaN,swoop
99,1,1,Ashley Baxter,2019-12-20,1,Not Verified | I was supposed to go to Las Ve...,no,Couple Leisure,Economy Class,NaN,NaN,NaN,NaN,NaN,swoop

In [4]:
df.head()

,Value For Money,Ground Service,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,Cabin Staff Service,Seat Comfort,Inflight Entertainment,Food & Beverages,airline
0,1,1,Abdullahi Dawud,2020-06-05,1,✅ Trip Verified | Edmonton to Hamilton. I was...,no,Family Leisure,Economy Class,NaN,NaN,NaN,NaN,NaN,swoop
1,5,5,Tiffany Nguyen,2020-05-02,10,✅ Trip Verified | Abbostford to Hamilton on 1...,yes,Family Leisure,Economy Class,5,5,5,NaN,NaN,swoop
2,1,1,Greg Scott,2020-04-30,1,Not Verified | Got my flight to Winnipeg. Ori...,no,Family Leisure,Economy Class,NaN,1,1,NaN,NaN,swoop
3,1,NaN,Penny Mckelvie,2020-04-21,1,✅ Trip Verified | Our flight between Edmonton...,no,Family Leisure,Economy Class,NaN,NaN,NaN,NaN,NaN,swoop
4,4,1,E Smith,2020-03-30,1,Not Verified | We used to really like flying ...,no,Couple Leisure,Economy Class,NaN,4,4,NaN,NaN,swoop