In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/cathay-dragon/?sortby=post_date%3ADesc&pagesize=50'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    for name, rating in zip(names[1:], ratings):
        review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'cathay dragon'

# Save to CSV
df.to_csv('Data/cathay_dragon.csv',index=False)

In [4]:
# Sanity check
df.head()

,Value For Money,Ground Service,Inflight Entertainment,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,airline
0,4,5,3,5,5,4,Felix Jiaxin ZHU,2020-04-26,8,Not Verified | Nanjing to Hong Kong. Nice air...,yes,Family Leisure,Economy Class,NaN,cathay dragon
1,3,3,3,4,5,5,A Berlov,2020-03-19,8,✅ Trip Verified | Hanoi to Hong Kong. There a...,yes,Solo Leisure,Business Class,1,cathay dragon
2,3,5,5,4,5,5,JJ LIM,2020-02-07,8,✅ Trip Verified | Hong Kong to Okinawa Naha. O...,yes,Couple Leisure,Economy Class,NaN,cathay dragon
3,3,3,3,3,1,3,Keng Leong,2020-01-30,1,✅ Trip Verified | Hong Kong to Kuala Lumpur. ...,no,Solo Leisure,Business Class,NaN,cathay dragon
4,5,5,5,5,5,4,Claudio Operti,2019-12-14,10,✅ Trip Verified | Qingdao to Hong Kong return...,yes,Business,Business Class,NaN,cathay dragon

In [5]:
df.tail()

,Value For Money,Ground Service,Inflight Entertainment,Food & Beverages,Cabin Staff Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Wifi & Connectivity,airline
45,3,5,5,5,5,5,Z Gan,2017-12-28,10,✅ Trip Verified | Shanghai to Hong Kong. Arri...,yes,Family Leisure,Business Class,NaN,cathay dragon
46,4,3,4,3,3,4,G Lang,2017-10-26,7,✅ Verified Review | First flight with Cathay ...,yes,Family Leisure,Economy Class,NaN,cathay dragon
47,5,5,5,5,5,5,Frankline Loo,2017-10-24,10,✅ Verified Review | Flew Cathay Dragon from H...,yes,Couple Leisure,Economy Class,NaN,cathay dragon
48,5,5,5,5,5,5,L Tee,2017-10-23,10,✅ Verified Review | Hong Kong to Kuala Lumpur...,yes,Couple Leisure,Economy Class,NaN,cathay dragon
49,4,4,4,3,4,5,Victor Sun,2017-10-05,8,✅ Verified Review | Okinawa Naha to Hong Kong...,yes,Solo Leisure,Economy Class,NaN,cathay dragon