In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/hong-kong/?sortby=post_date%3ADesc&pagesize=50'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'hk express'

# Save to CSV
df.to_csv('Data/hk_express.csv',index=False)

In [4]:
# Sanity check
df.tail()

,Value For Money,Ground Service,Cabin Staff Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Inflight Entertainment,Wifi & Connectivity,Food & Beverages,airline
45,1,NaN,4,3,C Chan,2015-05-27,1,I took the flight from Hong Kong to Chiang Mai...,no,NaN,Economy Class,1,NaN,1,hk express
46,5,NaN,4,4,L Chan,2015-05-18,9,The HK Express website is easy to use. My flig...,yes,NaN,Economy Class,1,NaN,1,hk express
47,3,NaN,NaN,NaN,M Galjor,2015-02-20,7,I've done the HKG-HND round-trip on HK Express...,yes,NaN,Economy Class,NaN,NaN,NaN,hk express
48,5,NaN,NaN,NaN,Alexander Capousis,2015-02-06,8,3 flights in the last month (ICN-HKG HKG-CNX H...,yes,NaN,Economy Class,NaN,NaN,NaN,hk express
49,5,NaN,4,3,David Silverking,2014-08-14,9,We recently flew HKG to Penang direct. The fli...,yes,NaN,Economy Class,1,NaN,3,hk express